@import "tailwindcss";

#root {
  @apply w-full min-h-screen flex justify-center;
  @apply text-base text-teal-100;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply font-bold text-blue-400;
}
a:hover {
  @apply text-rose-400;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-3xl mb-4;
}

button, .button, ::file-selector-button {
  @apply rounded-md border border-transparent text-base font-semibold bg-teal-950 text-teal-100;
  padding: 0.6em 1.2em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, 
.button:hover, 
::file-selector-button:hover {
  @apply bg-teal-800 border-orange-300;
}
button:focus, button:focus-visible, 
.button:focus, .button:focus-visible, 
::file-selector-button:focus, ::file-selector-button:focus-visible {
  @apply bg-teal-900;
  outline: 4px auto -webkit-focus-ring-color;
}

.button-small {
  @apply px-2 py-1 text-sm;
}

::file-selector-button {
  @apply block;
}

input[type="text"], input[type="number"] {
  @apply border rounded-md p-1 text-xs;
}

label.label-input-number,
label.label-input-text {
  @apply flex justify-between;
}

/**
* Tables
*/
th {
  @apply text-left;
}
tbody tr:not(:first-child) td{
  @apply pt-1;
}
tbody tr:not(:last-child) td{
  @apply pb-1;
}



@media (prefers-color-scheme: light) {
  #root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
