@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";

body {
  @apply bg-teal-950;
}

#root {
  @apply w-full min-h-screen flex justify-center;
  @apply text-base text-teal-100;
  font-family: 'Poppins', 'Roboto', sans-serif;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply font-bold text-blue-400;
}
a:hover {
  @apply text-rose-400;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-3xl mb-4;
}
h3 {
  @apply text-xl mb-2;
}

button, .button, ::file-selector-button {
  @apply rounded-md border border-transparent text-base font-semibold bg-rose-950 text-rose-100;
  padding: 0.6em 1.2em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, 
.button:hover, 
::file-selector-button:hover {
  @apply bg-teal-800 border-orange-300;
}
button:focus, button:focus-visible, 
.button:focus, .button:focus-visible, 
::file-selector-button:focus, ::file-selector-button:focus-visible {
  @apply bg-teal-900;
  outline: 4px auto -webkit-focus-ring-color;
}

.button-small, ::file-selector-button  {
  @apply px-2 py-1 text-sm;
}
.button-danger {
  @apply bg-rose-700 text-rose-100;
}
.button-danger:hover {
  @apply bg-rose-600 border-orange-300;
}
button[disabled] {
  @apply bg-gray-600 text-gray-300 cursor-not-allowed border-transparent;
}

::file-selector-button {
  @apply block;
}

input[type="text"], input[type="number"] {
  @apply border rounded-md p-1 text-xs;
}
label {
  @apply font-medium;
}
label.label-input-number,
label.label-input-text {
  @apply flex justify-between;
}
select {
    @apply border rounded-md p-1 text-sm max-w-[30ch];
}

.grid-container {
  height: calc(100vh - var(--spacing) * 12);
}

/**
* Tables
*/
th {
  @apply text-left;
}
tbody tr:not(:first-child) td{
  @apply pt-1;
}
tbody tr:not(:last-child) td{
  @apply pb-1;
}

@media (prefers-color-scheme: light) {
  #root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

